.DS_Store
/*.app
/*.zip
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/
.netrc
.vscode/
*.xcodeproj
*.xcworkspace
